.top-section{
	background: url(../images/header-bg.jpg);
	background-size: cover;
	height: 800px;
	background-attachment: scroll;
	background-repeat: no-repeat;
}
#nav{font-family: 'Covered By Your Grace', cursive;
color:#FED136 }

.top-section ul{
	margin-left: 515px;
}
.nav-link{
	
font-size: 15px;
	
line-height: 23px;
	
color: white !important;
	
font-family: montserrat;
}
.top-section h3{

color: white;

font-size: 36px;

font-family: Droid serif;

/* line-height: 54px; */

/* text-align: center; */
}
.top-section h1{
	
color: white;
	
font-size: 54px;
	
font-weight: 700;
	
font-family: montserrat;
	
margin-top: 20px;
}
.content1{
	position: absolute;
	top: 9%;
	margin-top: 283px;
	left: 26%;
}
.content1 button{
	
color: white;
	
font-size: 15px;
	
font-weight: 700;
	
margin-top: 30px;
}


.crd-row{
	
margin-left: 29px;
}
.heading{

}
.heading h1{
	
font-size: 40px;
	
font-weight: 700;
	
font-family: montserrat;
}
.heading span{
	
font-size: 16px;
	
font-family: droid-serrif;
color: #;
	
color: #776f6f;
}
.card{

border: none;
}
.card a{
	
}
.card i{
	
color: white;

	
font-size: 65px;
}
i.fas.fa-plus {
    font-size: 65px;
}
.card-body h3{

font-weight: 700;

/* font-family: monntserrat; */
}
.card-body p{

}
.icon{
	
width: 130px;
	
background: #FED136;
	
border-radius: 50%;
	
height: 130px;
	
text-align: center;
	
padding-top: 30px;
	
margin-left: 75px;
}
p.card-text{

	font-weight: 600;
	color: #6c757d;
}



.caption{

}
.caption h4{
	
font-weight: 700;
	
color: #212529;
}
.caption span{
	
color: #212529;
	
font-weight: 600;
}




.about-content{

}
.about-content h3{



font-weight: 700;

font-family: montserrat;
}
.about-content h4{

font-weight: 700;

font-family: montserrat;

font-size: 20px;
}
.about-content p{

text-align: left;

color: #696868;
}

.about-section img{
	
border-radius: 50%;
	
border: 4px solid #c3b7b7;
}
.hr{

border-left: 2px solid #CCC2C2;



height: 257px;

margin-left: 557px;

margin-top: -50px;
}
.about-row{
	margin-right: 209px;

}
.about-row1{
	margin-left: 431px;
}
.about-img{margin-left: 4px;}
.about-content1{
	margin-left: -96px;
}
.about-row2{
	margin-right: 209px;
	margin-top: -50px;

}


.team-section img{border-radius: 50%;border: 5px solid #CCC2C2;}

.team-section h3{
	
font-weight: 700;
	
color: #212529;
	
font-family: montserrat;
	
font-size: 25px;
}
.team-section h5{
	
font-weight: 400;
	
color: #a29999;
	
font-family: Droid-serrif;
}
.icon1{

margin-top: 17px;
}
.icon1 .fab:hover {
    transform: translateY(-7px);
    background-color: #FED136;
    border-color: #FED136;
    transition: transform .3s;
}
.icon1 i{
	
border: 13px solid #23272B;
	
border-radius: 50%;
	
background: #23272B;
	
color: white;
	
margin-left: 10px;
	
margin-right: 10px;
cursor: pointer;
}
.thumbnail1{

width: 200px;

margin-left: 74px;
}




.contact-us{
	background-image: url(../images/map-image.png);
	background-color: #212529;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 650px;
}
.contacth1{
	font-size: 40px;
    font-weight: 700;
    font-family: montserrat;
    color: white;
}

#name{

height: 44px;
}
#message{
	
}
form#contact-form {
    margin-top: -20px;
    width: 49%;
    margin-left: 354px;
}
.btn1{
	
color: white;
	
font-size: 15px;
	
font-weight: 700;
	
margin-top: 30px;
	
margin-left: 130px;
	
font-family: montserrat;
}



.copyright-section{

background: #CCC2C2;
}
.copyright-section p{
	
font-size: 13px;
}